In [1]:
import pandas as pd
import os

In [2]:
# files = [file for file in os.listdir('./dat')]

# merged_data = pd.DataFrame()

# for file in files:
#     df = pd.read_csv("./dat/"+file)
#     merged_data = pd.concat([merged_data, df])
# merged_data.to_csv("all_data.csv", index = False)

In [3]:
# df = pd.read_csv("all_data.csv")

In [4]:
# drop_these = ["start_station_id","end_station_id", "start_lat", "start_lng", "end_lat", "end_lng"]
# df = df.drop(columns=drop_these)

In [5]:
# df.to_csv("importante.csv")

In [6]:
dat = pd.read_csv("importante.csv")

In [7]:
dat["started_at"] = pd.to_datetime(dat["started_at"])
dat["ended_at"] = pd.to_datetime(dat["ended_at"])

In [8]:
dat["ride_length"] = dat.ended_at - dat.started_at

In [9]:
dat["day"] = dat["started_at"].dt.day_name()

In [10]:
dat= dat.drop(columns="Unnamed: 0")
dat.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,ride_length,day
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,St. Clair St & Erie St,casual,0 days 00:09:40,Sunday
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,Noble St & Milwaukee Ave,casual,0 days 00:11:19,Sunday
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,Federal St & Polk St,casual,0 days 00:29:01,Sunday
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,Stave St & Armitage Ave,casual,0 days 00:09:15,Sunday
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,Buckingham Fountain,casual,0 days 00:33:27,Sunday

In [11]:
dat.dtypes

ride_id                        object
rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
end_station_name               object
member_casual                  object
ride_length           timedelta64[ns]
day                            object
dtype: object

In [12]:
dat.to_csv("cyclistic_2021.csv")